<section>
<ul id="links">
  <a href="/">Home</a>
  <a href="/all_stekjes">Stekjes</a>
  <a href="/workshops">Workshops</a>
  <a href="/contact">Contact</a>
</ul>

<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <div class="toggle">
      <ul id="menu">
        <a href="/">Home</a>
        <a href="/all_stekjes">Stekjes</a>
        <a href="/workshops">Workshops</a>
        <a href="/contact">Contact</a>
      </ul>
    </div>
  </div>
</nav>
</section>
