h1 {
  font-size: 2.3rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.image-text-1 p {
  padding-bottom: 1rem;
  line-height: 1.5rem;
}

.image-text-1 {
  position: absolute;
  left: 1em;
  z-index: 1;
  border-radius: 5px;
  inset: 0;
  margin: auto;
  height: max-content;
  width: 22rem;
  text-align: left;
  color: var(--main-offwhite);
  background-color: var(--color-primair);
  padding: 1em;
  transform: translateY(70%);
}

.carousel {
  margin: 0;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.slides {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  height: 90vh;
}

.slides img {
  width: 38rem;
  height: 135vh;
  object-fit: cover;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides-item {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 400px;
  justify-content: center;
  margin: 0 1rem;
  position: relative;
  transform: scale(1);
  transform-origin: center center;
  transition: transform 0.5s;
  width: 120%;
  scroll-snap-align: start;
}

/* MEDIA QUERY TABLET*/
@media (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  .image-text-1 p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    line-height: 2rem;
  }

  .image-text-1 {
    top: -30%;
    width: 45rem;
  }

  .slides img {
    width: 50rem;
  }

  .slides-item {
    width: 100%;
  }
}

/* MEDIA QUERY DESKTOP*/
@media (min-width: 1024px) {
  .carousel {
    position: relative;
    height: 100vh;
    width: 100%;

  }

  .overlay {
    position: absolute;
    height: 90vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.194);
    z-index: 5;
  }

  h1 {
    font-size: var(--title-size);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  .image-text-1 p {
    font-size: var(--sec-title-size);
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    /* padding-left: 0.5rem; */
    line-height: 2rem;
  }

  .image-text-1 {
    position: absolute;
    left: 2em;
    bottom: 2em;
    margin: 0;
    height: max-content;
    width: 40rem;
    inset: 0;
    margin: auto;
    height: max-content;
    width: 30%;
    transform: translateX(-65%);
    background-color: var(--color-primair);
    padding: 2em;
    border-radius: 1em;
  }

  .slides img {
    width: 150rem;
    height: 100%;

  }

  .slides-item {
    width: 130%;
    height: 40rem;
  }
}
