<section class="carousel">
  <div class="overlay">
    <div class="wrapper">
      <div class="image-text-1">
        <h1>Swap nu je stek!</h1>
        <p>
          Heb jij een of meerdere plantenstekjes over en zou je die graag willen ruilen voor een nieuw
          plantje? Meld je stekje hier aan en ruil ‘m via de app. Schrijf de Latijnse naam van je
          plant en eventuele verzorgingstips op een labeltje en neem ‘m mee naar de OBA Linnaeusstraat
          in Amsterdam.
        </p>
      </div>
    </div>
  </div>
  <div class="slides">
    <div class="slides-item slide-1" id="slide-1">
      <div class="image-container">
          <img src="assets/carousel-1.jpg" alt="image-carousel-1">
      </div>
    </div>

    <div class="slides-item slide-2" id="slide-2">
      <div class="image-container-2">
          <img src="assets/carousel-2.jpg" alt="image-carousel-2">
      </div>
    </div>

    <div class="slides-item slide-3" id="slide-3">
      <div class="image-container-3">
        <img src="assets/carousel-3.jpg" alt="image-carousel-3">
      </div>
    </div>
  </div>
</section>
