<section class="about-homepage">
  <div class="flex-title-about">
    <svg width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M20.5 8.16988C23.8333 10.0944 23.8333 14.9056 20.5 16.8301L7.74999 24.1913C4.41666 26.1158 0.249999 23.7102 0.249999 19.8612L0.25 5.13877C0.25 1.28977 4.41667 -1.11584 7.75 0.808657L20.5 8.16988Z"
        fill="#F26F21"
      />
    </svg>
    <h4>Over PlantSwap</h4>
  </div>

  <p>
    De Buurtcampus-Oost heeft als doel Amsterdam-Oost duurzamer, inclusiever en gezonder te maken.
    PlantSwap Amsterdam zorgt ervoor dat plantenliefhebbers elkaar ontmoeten in de bibliotheek.
    Daarnaast hebben planten in huis een positief effect op je lichamelijke en geestelijke
    gezondheid. Veel mensen weten niet goed hoe ze voor planten moeten zorgen en kopen nieuwe als ze
    dood gaan. In het kader van duurzaamheid, gezondheid en meer sociale connectie, is PlantSwap
    Amsterdam een plek van sociale ontmoeting, waar mensen samen leren over planten.
  </p>

  <div class="image-about">
    <img src={Netwerk}>
  </div>
</section>
