<section class="how-it-works">
  <div class="flex-titel-how-it-works">
    <svg width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M20.5 8.16988C23.8333 10.0944 23.8333 14.9056 20.5 16.8301L7.74999 24.1913C4.41666 26.1158 0.249999 23.7102 0.249999 19.8612L0.25 5.13877C0.25 1.28977 4.41667 -1.11584 7.75 0.808657L20.5 8.16988Z" fill="#F26F21"/>
    </svg>

    <h2>Hoe werkt het?</h2>
  </div>
  <p>
    Bij Buurtcampus Oost kun je de stekjeskast bezoeken om stekjes te ruilen, je kunt ook op onze
    website inzien welke stekjes beschikbaar zijn. Dit is een geweldige manier voor
    plantenliefhebbers om met elkaar in contact te komen en planten te delen. Het maakt het
    gemakkelijk om je favoriete stekjes te vinden en te ruilen met anderen in de buurt, zonder
    gedoe. Kom langs bij Buurtcampus Oost en ontmoet mede-plantenliefhebbers!
  </p>
</section>
