/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Mulish', sans-serif;
}

:root {
  --color-primair: #4D7141;
  --color-secundair: #F26F21;
  --main-dark: #070707;
  --main-offwhite: #ECECEC;
}

:root {
  /* colors */
  --text-color:#525252;
  --background-color:#ECECEC;
  --accent-color: #4E7141;
  --accent-color-sec:#F26F21;
  --title-color:#4E7141 ;
  --sec-title-color:#6A6A6A;
  --sub-heading-color:#333467;
  --margin: 2rem;
  /* sizes */
  --title-size: 32px;
  --sub-heading-size: 25px;
  --sec-title-size: 20px;
  --text-size: 17px;
  --border-radius: 1em;
  /* fonts */
}
